<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div id="app">
    <h1>{{title}}</h1>
    <ul>
        <li v-for="fruit of fruits">{{fruit.quantity}} - {{fruit.name}}
            <span v-if="fruit.quantity === 0">- Sin stock</span>
        </li>
    </ul>
    <input type="text" v-model="newFruit"> <input type="text" v-model="newQuantity">
    <button v-on:click="addFruit">Add</button>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>